*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    
    
    background-image: linear-gradient(270deg, greenyellow, green);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}

/* body div {
    display: flex;

} */

h1{
    text-align: center;
    text-shadow: 2px 2px 4px greenyellow;
    font-size: 5rem;
}

button{
    
    cursor: pointer;
    width: 4rem;
    height: 2rem;
    font-family: monospace;
    transition: all 0.5s ease-in-out;
    border-radius: 25%;
    margin: 5px;
    
}

button:hover{
    background-color: gray;
    box-shadow: 2px 2px 20px 4px red;
    
}

.per{
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 2px 2px 4px greenyellow;

}

p{


    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 2px 2px 4px blue;
}

h2{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 2px 2px 4px red;
}

img {
    border-radius: 80%; 
    transition: all 0.5s ease-in-out;
}

img:hover {
    box-shadow: 2px 2px 20px 4px red;

}


.btn {
    display: flex;
    flex-direction: row;
}
